<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Only Teacher</display-name>
        <web-resource-collection>
            <web-resource-name>web teacher</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>takeattendance</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/courses/viewAssistanceOfCourse.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>view all student of course</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/courses/viewAllStudentsOfCourse.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>view assistance of student</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/courses/viewAssistanceOfStudent.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Profesor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Only Admin</display-name>
        <web-resource-collection>
            <web-resource-name>web admin</web-resource-name>
            <description/>
            <url-pattern>/faces/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>takeattendance</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/courses/viewAssistanceOfCourse.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>view all student of course</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/courses/viewAllStudentsOfCourse.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>view assistance of student</web-resource-name>
            <description/>
            <url-pattern>/faces/teacher/courses/viewAssistanceOfStudent.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrador</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>amasyRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.xhtml</form-login-page>
            <form-error-page>/faces/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Profesor</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Administrador</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Alumno</role-name>
    </security-role>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>rocket</param-value>
    </context-param>
</web-app>
