.ui-layout-unit{
    border:0px transparent;
}

#header div{
    background: transparent;
    border: 0px;
    padding-left: 160px;
    padding-top: 25px;
    overflow: hidden;
}

.center{
    text-align: center;
}

.megamenu-button .ui-menuitem-text{
    color: #ffffff;
    font-weight: bold;
}

.megamenu-button{
    margin-left: 10px;
}
#menuPrincipal{
    overflow: hidden;
}
#menuPrincipal ul li {
    height: 40px;
}

.on-hover{    
    color: white ! important ; 
    background-color: #ff9317; 
}

.hidden{
    display:none;
}
#menuPrincipal ul li a{
    height: 50px;
    border-radius:0;   
    color: #ff9317;
    font-size: 1.2em;
}
#menuPrincipal ul li a:hover{  
    color: white; 
}
.menuLateral{
    width: 93%;
}


#header{
    background: url('../../resources/img/amasy_logo.png') left no-repeat;
    background-size: auto 70px;
    background-position: 10px;
    background-color: black !important;
    border-radius: 0;
}
#footer div, #footer{
    border-radius: 0;
    background: #000000;
    overflow: hidden;
    color: #ffffff;
    font-size: 0.9em;
    bottom: 7px;
}

#footer {
    left: 15px;
    position: relative;
    text-align: center;
}

#footer-text-container{
    top: 10px;    
    position: relative;
}

.ui-login {
    width: 550px;
    position: absolute;
    top:70px;
}

.ui-login-greeting {
    float: left;
    left: 50px;
}

.ui-login-form{
    float: right;
    right: 50px;
}

.login-img {
    position:absolute;
    float: right;
    right: 2%;
    top: 30%;
    height: 50%;
    width: 50%;
}

.headerDialog{
    width: 300px !important;
}
