/*#footer-text-container{
    display:inline-block;
    margin-left: 10px;
}

#footer-text{
    color:#ffffff; 
    text-shadow: 1px 0 black; 
    font-size: 0.5em
}

.ui-layout-north, .ui-layout-unit-content .ui-widget-content{
    overflow: hidden !important;
}


*/
.ui-layout-unit{
    border:0;
}
#header div{
  display:none;
}

#header{
    background: url('../../resources/img/amasy_logo.png') left no-repeat;
    background-size: auto 70px;
    background-position: 10px;
    background-color: black !important;
    border-radius: 0;
}
#footer div, #footer{
    border-radius: 0;
    background: #000000;
    overflow: hidden;
    color: #ffffff;
    font-size: 0.9em;
    bottom: 7px;
}

#footer {
    left: 15px;
}

.ui-login {
    width: 550px;
    position: absolute;
    top:70px;
}

.ui-login-greeting {
    float: left;
    left: 50px;
}

.ui-login-form{
    float: right;
    right: 50px;
}

.login-img {
    position:absolute;
    float: right;
    right: 2%;
    top: 30%;
    height: 50%;
    width: 50%;
}
