
#footer-text-container{
    display:inline-block;
    margin-left: 10px;
}

#footer-text{
    color:#ffffff; 
    text-shadow: 1px 0 black; 
    font-size: 0.5em
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.ui-layout-unit-content{
    background-color: transparent;
}

.ui-layout-north {
    background: url('../../resources/img/amasy_logo.png') left no-repeat;
    background-size: auto 70px;
    background-position: 10px;
    background-color: black !important;
}

.ui-layout-south {
    background-color: black !important;
}
