#div-enroll-content-left, #div-enroll-content-right{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#title-inf-student, #title-enrolle-student{
    text-align: center;
}

.panelGridInfoStudent{
    width: 50%;
}


#form{
    margin-top: 30px;
}

